{
  "extends": "react-app",
  "rules": {
    "semi": [1, "never"],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-single"],
    "eol-last": "warn",
    "no-console": "warn"
  }
}