.EmployeePage {
  display: flex;
  flex-direction: column;
}

.EmployeePage-topBar {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
}

.EmployeePage-topBar--search {
  outline: none;
  min-width: 250px;
  border-radius: 4px;
  border: 1px solid lightgray;
  padding-left: 8px;
}

.EmployeePage-topBar--button {
  color: #FFF;
  background-color: #521BBE;
  outline: none;
  border: none;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.EmployeePage-topBar--button:first-child {
  margin-right: 8px;
}

.EmployeePage-errMessage {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #D22628;
}

.EmployeePage-errMessage--link {
  color: #521BBE;
}

.EmployeePage-errMessage--msg {
  color: #D22628;
}