.CsvUpload {
  border: 1px dashed lightgray;
  cursor: pointer;
  margin-top: 64px;
}

.CsvUpload-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.CsvUpload-content--fileIcon {
  font-size: 128px;
  color: lightgray;
  align-self: center;
}

.CsvUpload-content--text {
  margin-top: 32px;
}
